/* Reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* 
1.từu ngoài vào trong
2.từ trên xuống dưới
3.tổng quan đến chi tiết
*/

/* 
1. vị trí
2. kích thước
3. màu sắc
4. kiểu dáng(kiểu chữ,hình tròn,vuông,...)
*/
/* common */
.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-third{
    width: 33.33333%;
}
.col-half {
    width: 50%;
}
.col-full {
    width: 100%;
}
.pull-right{
    float: right;
}
.text-center{
    text-align: center !important;
}
.mt-8{
    margin-top: 8px;
}
.mt-16{
    margin-top: 16px;
}
.mt-32{
    margin-top: 32px;
}
/* common */
/* contact-content */
.contact-content{
    margin-top: 48px;
}
.contact-infor{
    font-size: 18px;
}
.contact-infor i{
    width: 30px;
    display: inline-block;
    line-height: 1.5;
}
.contact-infor a{
    color: #0000f1;
    opacity: 0.8;
}
.contact-infor a:hover{
    opacity: 1;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
/* contact-content */
#main {}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav>li {
    display: inline-block;
    position: relative;
}

#nav,
.subnav {
    list-style-type: none;
}

#nav>li>a {
    text-transform: uppercase;
    color: #fff;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}
#nav >li:first-child{
    display: inline-block;
}

#nav>li:hover>a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav a {
    color: #000;
    padding: 12px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 10px;
}
#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
#header .mobile-menu-btn,
#header .search-btn {
    padding: 0 21px;
    float: right;
}
#header .menu-icon,
#header .search-icon{
    color: #fff;
    line-height: 46px;
    font-size: 20px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}
#header .mobile-menu-btn:hover{
    background-color: #ccc;
}
#header .mobile-menu-btn:hover .menu-icon{
    color: #000;

}


#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/accsets/img/slide1.jpg') top center /cover no-repeat;
}

#slider .text-content {
    width: 100%;
    color: #fff;
    bottom: 47px;
    position: absolute;
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-des {
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0 0 2px #000;
}


#content {}

#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .secton-sub-heading {
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.6;

}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;

}

#content .member-list {
    margin-top: 32px;
}



.tour-section {

    background-color: #000;
}

.tickets-list {
    background-color: #fff;
    margin-top: 40px;
}

.tickets-list .sold-out {
    background-color: #f44336;
    padding: 4px 4px;
    color: #fff;
    margin-left: 16px;
}

.tickets-list .quantity {
    float: right;
    height: 24px;
    width: 24px;
    color: #fff;
    background: #000;
    border-radius: 50%;
    line-height: 24px;
    text-align: center;
    margin-top: -2px;
}

.tickets-list li {
    list-style-type: none;
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ccc;
}

.places-list {
    margin-top: 16px;
}



.place-img {
    display: block;
    width: 100%;
}

.place-img:hover {
    opacity: 0.6;
}

.places-body {
    font-size: 15px;
    padding: 16px;
    background-color: #fff;
}

.place-heading {
    font-size: 15px;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.6;
}

.btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 8px 18px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    -webkit-appearance: none;
}

.btn:hover {
    cursor: pointer;
    background-color: #ccc;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    max-width: calc(100% - 50px);
    position: relative;
    background: #fff;
    width: 900px;
    min-height: 200px;
    animation: modalFadeIn ease 0.5s;
}

.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
}

.modal-header>i {
    margin-right: 16px;
}

i.ti-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

i.ti-close:hover {
    background: #ccc;
    opacity: 1;
    color: #000;
}

.modal-body {
    padding: 16px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 20px;
}

.modal-label {
    margin-bottom: 12px;
    display: block;
    font-size: 15px;
}

#buy-tickets {
    background: #009688;
    border: none;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    padding: 18px;
    cursor: pointer;
}
/* map section */
.map-section img{
    width: 100%;
}
/* footer */
.modal-footer {
    padding: 16px;
    text-align: right;
    color: #000;
    font-size: 15px;
}

.modal-footer a {
    color: #2196F3;
}

#footer {
    text-align: center;
    padding: 64px 16px;
}
#footer .social-list{
    font-size: 24px;
}
#footer .social-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;

}
#footer .social-list a:hover{
    color: rgba(0, 0, 0, 0.4);
}
#footer .copyright{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}
#footer .copyright a{
    color: rgba(0, 0, 0, 0.6);
}

<<<<<<< HEAD
@keyframes modalFadeIn {/* animation for modal */
=======
@keyframes modalFadeIn {
>>>>>>> origin/master
    from {
        opacity: 0;
        transform: translateY(-140px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}